<?xml version="1.0" encoding="UTF-8"?><beans    xmlns="http://www.springframework.org/schema/beans"    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    xsi:schemaLocation="http://www.springframework.org/schema/beans       http://www.springframework.org/schema/beans/spring-beans.xsd">    <bean id="queueDao" class="ru.ystu.lab2.dao.QueueDaoCsv"/>    <bean id="mainService" class="ru.ystu.lab2.service.QueueServiceImpl">        <constructor-arg ref="queueDao"/>    </bean></beans>